:root {
  --edge: 1rem;       /* default edge padding */
  --indent: 0rem;     /* will grow on big screens */
}

.image-container{
    width:100%;
    img{
        width:100%;
        height:580px;
        object-fit:cover;
        object-position: center;
    }
}

.text-container{
    margin-top:3rem;
    padding-left: calc(var(--edge) + var(--indent));
    padding-right: calc(var(--edge) + var(--indent));
    header{
        margin-bottom: 3rem;
        h1{
            font-size: 28px;
        }
        .dates{
            p{
                font-size: 20px;
                margin:0;
                display: inline;
            }
            span{
                font-size: 20px;
            }
            
        }
    }
    

}

@media screen and (min-width: 792px) {
    :root {
        --indent:6rem;
    }
    .text-container{
        header{
        h1{
            font-size: 36px;
        }
    }
    }
    
}

@media screen and (min-width: 1250px) {
    :root {
        --indent:15rem;
    }
}