@import 'header';
@import 'footer';
@font-face{
  font-family:'akkurat';
  src: url('../../assets/fonts/Akkurat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{
    font-family: 'akkurat', Arial, sans-serif;
    padding: 0;
    margin: 0;

}
body.admin-bar .header__nav {
  top: 32px;
}

@media screen and (max-width: 782px) {
  body.admin-bar .header__nav {
    top: 46px;
  }
}