.container{
    padding: 1rem;
    .news-grid{
    display:grid ;
    grid-template-columns:100%;
    row-gap:35px;

    .news-grid__card{
        img{
            width: 100%;
            object-fit: fill;
        }
        .card-type{
            font-size: 14px;
            margin:10px 0 0 0;
        }
        h2{
            margin:10px 0 0 0;
            font-size: 21px;
            a {
                text-decoration:none;
                color: black;
            }
        }
        .card-description{
            margin:10px 0 0 0;
            font-size: 14px;
        }
    }
}
}
@media screen  and (min-width: 768px) {
    .news-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

