.container{
    padding: 2rem;
    .filter{
        p{
            font-size: 18px;
        }
    }
    .news-grid{
    column-count: 1;
    column-gap: 3rem;
    @media (min-width: 600px) {
    column-count: 2;
    }
    @media (min-width: 900px) {
        column-count: 3;
    }
    .news-grid__card-link{
        display: inline-block;
        break-inside: avoid;
        width: 100%;
        margin-bottom: 3rem;
        text-decoration: none;
        color: black;
        height: fit-content;
    }
    .news-grid__card{
        
        img{
            
            width: 100%;
            object-fit: fill;
        }
        .card-type{
            
            font-size: 14px;
            margin:10px 0 0 0;
        }
        h2{
            margin:10px 0 0 0;
            font-size: 21px;
            
        }
        .card-description{
            
            margin:10px 0 0 0;
            font-size: 14px;
        }
    }
}
}
@media screen  and (min-width: 792px) {
    .container{
        display: flex;
        .news-grid{
            width: 85%;
        }
        .filter{
            width: 15%;
            p{
                display: flex;
                align-items: center;
                svg{
                    margin-left: 10px;
                }
            }
        }
    }
   
}

